version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    open-pull-requests-limit: 15
    cooldown:
      default-days: 7
    schedule:
      interval: 'daily'
  - package-ecosystem: 'github-actions'
    directory: '/'
    open-pull-requests-limit: 15
    cooldown:
      default-days: 7
    schedule:
      interval: 'daily'
